# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Boot
HELP.md
*.jar
*.war
*.ear

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/
.classpath
.project
.settings/

# Maven leftovers (apagado no refactor)
target/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Environment
*.env
application-prod.properties
*application.properties